#left-container {
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input {
  border: none;
  background-color: unset;
  border-bottom: 2px solid #8C6EAB;
  color: #48355B;
  font-weight: bolder;
  width: 250px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 300;
}

input::placeholder {
  color: #48355B;
}

.error-message {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 300;
}

@media screen and (max-width: 800px)  {
  #left-container {
    width: 90vw;
    height: 40vh;
    margin: 0 auto 40px;
  }
  input {
    width: 200px;
    font-size: 12px;
  }
}
