#tables-container {
  display: flex;
  width: 50vw;
  height: 25vh;
  margin: auto;
  justify-content: space-around;
}

table {
  border-collapse: separate; 
  border-spacing: 0 10px;
}

table thead tr th {
  font-size: 20px;
}

table td {
  text-align: center;
}

table tbody tr {
  display: flex;
  flex-direction: column;
}

table tbody td {
  font-weight: 300;
  font-size: 15px;
  margin-top: 8px;
}