#tables-container {
  width: 30vw;
  height: 25vh;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

table {
  border-collapse: separate; 
  border-spacing: 0 10px;
}

table thead tr {
  font-size: 18px;
}

table tr {
  text-align: center;
}

table tbody tr {
  font-weight: 300;
  font-size: 15px;
}