@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: linear-gradient(248.66deg, #48355B 0%, #91BEF3 100%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
}

.App {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 800px)  {
  .App {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
